[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
strawberry-graphql = {extras = ["debug"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
tortoise = "*"
tortoise-orm = "*"
asyncpg = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
